@charset "UTF-8";
/*----------------------------------------------------------------------
------------------------------------------------------------------------

File Name: program.scss

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
------------------------------------------------------------------------
目次

1.	共通使用変数定義
2.	ブラウザデフォルトスタイルリセット
3.	HTMLタグ
4.	container
5.	共通部分
6.	header
7.	content
8.	main
9.	footer
10.	ページ別個別設定

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
1.	共通使用変数定義
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
2.	ブラウザデフォルトスタイルリセット
----------------------------------------------------------------------*/
body,
h1, h2, h3, h4, h5, h6,
div,
p,
ul, ol, dl,
form, fieldset,
table,
address,
blockquote,
noscript,
pre,
tr,
td,
input,
textarea {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-style: normal;
}

body {
  font-size: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

* html body {
  font-size: 62.5%;
}

* + html body {
  font-size: 62.5%;
}

/* start \*/
html:\66irst-child body {
  font-size: 62.5%;
}

/* end */
body:first-of-type {
  font-size: 62.5%;
}

body > iframe {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

small {
  font-size: 1em;
}

mark {
  background: none;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: inherit;
  font: 100%;
}

li {
  list-style-type: none;
}

dd {
  margin: 0;
}

a,
abbr,
acronym,
em,
strong,
span,
img,
sub,
sup,
input,
button,
textarea,
select,
label,
caption {
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  border: none;
  vertical-align: bottom;
}
@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }
}

caption, th {
  font-weight: normal;
  text-align: left;
}

th, td {
  padding: 0px;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  vertical-align: top;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

header, footer, article, section, aside,
nav,
figure, figcaption {
  display: block;
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------
3.	HTMLタグ
----------------------------------------------------------------------*/
html,
body {
  min-width: 1460px;
  height: 100%;
}
@media screen and (max-width: 768px) {
  html,
  body {
    min-width: auto;
  }
}

html {
  font-size: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  color: #1A1A1A;
}
body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:before, a:after {
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
a > * {
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
a:hover > * {
  text-decoration: none;
}

/*----------------------------------------------------------------------
4.	container
----------------------------------------------------------------------*/
#container {
  position: relative;
  min-height: 100%;
}
* html #container {
  height: 100%;
}
body > #container {
  height: auto;
}

/*----------------------------------------------------------------------
5.	共通部分
----------------------------------------------------------------------*/
.fll {
  float: left;
}

.flr {
  float: right;
}

@media screen and (min-width: 769px) {
  .sp_none {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .sp_none {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .pc_none {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .pc_none {
    display: block;
  }
}

.link-btn a {
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 270px;
  height: 65px;
  padding-right: 10px;
  background: #116DC9;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .link-btn a {
    width: 80%;
    font-size: 16px;
  }
}
.link-btn a:before, .link-btn a:after {
  content: "";
  position: absolute;
}
.link-btn a:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  right: 20px;
  top: 0;
  bottom: 0;
  width: 39px;
  height: 39px;
  margin: auto;
  background: #FFF;
}
.link-btn a:after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 36px;
  top: 0;
  bottom: 0;
  width: 9px;
  height: 9px;
  margin: auto;
  border: 0;
  border-top: solid 3px #1658B7;
  border-right: solid 3px #1658B7;
}

.right-sns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  z-index: 10;
  right: 30px;
  top: 520px;
  width: 30px;
}
@media screen and (max-width: 768px) {
  .right-sns {
    right: 18%;
    top: 0.1%;
    width: 8%;
  }
}

.right-facebook a {
  display: block;
}
.right-facebook svg {
  width: 30px;
  fill: #3773e6;
}
@media screen and (max-width: 768px) {
  .right-facebook svg {
    width: 100%;
  }
}

.right-scrolldown {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
@media screen and (max-width: 768px) {
  .right-scrolldown {
    display: none;
  }
}
.right-scrolldown span {
  position: relative;
  top: 15px;
  color: #116DC9;
  font-size: 12px;
  font-weight: bold;
}
.right-scrolldown span:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 2px;
  height: 60px;
  margin: auto;
  background: #116DC9;
  animation: pathmove 1.6s ease-in-out infinite;
  opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
  0% {
    height: 40px;
    bottom: -50px;
    opacity: 0;
  }
  30% {
    height: 40px;
    opacity: 1;
  }
  100% {
    height: 10px;
    bottom: -90px;
    opacity: 0;
  }
}
.right-nav {
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1000;
}
.right-nav a {
  -moz-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  display: block;
  width: 80px;
  height: 80px;
  background: #FFF;
}
@media screen and (max-width: 768px) {
  .right-nav a {
    width: 50px;
    height: 50px;
  }
}
.right-nav a:after {
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
  position: absolute;
  left: 2px;
  right: 0;
  top: 10px;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: auto;
  border: 0;
  border-top: solid 4px #1658B7;
  border-right: solid 4px #1658B7;
}
@media screen and (max-width: 768px) {
  .right-nav a:after {
    width: 10px;
    height: 10px;
    border-width: 2px;
  }
}
.right-nav a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .right-nav img {
    width: 45px;
    height: 45px;
  }
}

.logo {
  display: flex;
  align-items: center;
}
.logo a {
  display: flex;
  align-items: center;
  color: #000;
}
.logo a img {
  margin-right: 20px;
}
.logo small {
  display: block;
  font-size: 16px;
  line-height: 1.5625;
}

@media screen and (min-width: 769px) {
  #drawernav {
    display: none;
  }
}

/*----------------------------------------------------------------------
6.	#header
----------------------------------------------------------------------*/
.header {
  -moz-border-radius: 0 0 50px 50px;
  -webkit-border-radius: 0;
  border-radius: 0 0 50px 50px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 1400px;
  margin: auto;
  background: #FFF;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .header {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
    margin-bottom: 5%;
    background: none;
  }
}
.header__upper {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  border-bottom: 1px solid #B3B3B3;
}
@media screen and (max-width: 768px) {
  .header__upper {
    display: block;
    width: 48%;
    margin: 3% 0 0 3%;
    padding: 0;
    border-bottom: none;
  }
}
@media screen and (max-width: 768px) {
  .header__logo {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .header__logo small {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__contact {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header__nav__list {
  display: flex;
  justify-content: center;
}
.header__nav__item {
  margin: 0 30px;
}
.header__nav__item a {
  display: block;
}
.header__nav__item__inner {
  display: block;
  position: relative;
  padding: 22px;
  color: initial;
  font-size: 16px;
  font-weight: 500;
}
.header__nav__item__inner.-is-active:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 2px;
  margin: auto;
  background: #116DC9;
}

.lower .header {
  margin-bottom: 75px;
}
@media screen and (max-width: 768px) {
  .lower .header {
    margin-bottom: 10%;
  }
}

/*----------------------------------------------------------------------
7.	#content
----------------------------------------------------------------------*/
.topicpath {
  display: flex;
  width: 1180px;
  margin: 0 auto 50px;
}
@media screen and (max-width: 768px) {
  .topicpath {
    *zoom: 1;
    display: block;
    width: auto;
    margin: 0 auto 5% 3%;
  }
  .topicpath:after {
    content: "";
    display: table;
    clear: both;
  }
}
.topicpath__item {
  position: relative;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .topicpath__item {
    float: left;
    font-size: 12px;
    line-height: 1.5;
  }
}
.topicpath__item:not(:last-child) {
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  .topicpath__item:not(:last-child) {
    margin-right: 25px;
  }
}
.topicpath__item:not(:last-child):after {
  content: "＞";
  position: absolute;
  right: -35px;
  top: 0;
  bottom: 0;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .topicpath__item:not(:last-child):after {
    right: -19px;
  }
}
.topicpath__item a {
  color: initial;
}

/*----------------------------------------------------------------------
8.	#main
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
9.	#footer
----------------------------------------------------------------------*/
.footer {
  background: #FFF;
}
.footer__inner {
  -moz-border-radius: 0 150px 0 0;
  -webkit-border-radius: 0;
  border-radius: 0 150px 0 0;
  background: #116DC9;
}
@media screen and (max-width: 768px) {
  .footer__inner {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
  }
}
.footer__wrapper {
  width: 1000px;
  margin: auto;
  padding: 80px 0 65px;
}
@media screen and (max-width: 768px) {
  .footer__wrapper {
    width: auto;
    padding: 8% 0;
  }
}
.footer__logo {
  margin-bottom: 60px;
  padding-bottom: 25px;
  border-bottom: 1px solid #FFF;
}
@media screen and (max-width: 768px) {
  .footer__logo {
    display: block;
    margin-bottom: 8%;
    padding: 0 0 4% 5%;
  }
}
@media screen and (max-width: 768px) {
  .footer__logo a {
    margin-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer__logo img {
    width: 75%;
  }
}
.footer__logo small {
  color: #FFF;
}
@media screen and (max-width: 768px) {
  .footer__logo small {
    margin-top: 3%;
    font-size: 14px;
  }
}
.footer__flex {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__flex {
    display: block;
  }
}
.footer__nav__list {
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-top: -40px;
}
@media screen and (max-width: 768px) {
  .footer__nav__list {
    display: block;
    width: auto;
    margin: 0 5% 10%;
  }
}
.footer__nav__item {
  min-width: 220px;
  margin-top: 40px;
}
@media screen and (max-width: 768px) {
  .footer__nav__item {
    min-width: auto;
    margin: 0 0 6%;
  }
}
.footer__nav__item a {
  position: relative;
  color: #FFF;
  font-size: 16px;
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .footer__nav__item a {
    font-size: 14px;
  }
}
.footer__nav__item a:before {
  content: "";
  position: absolute;
  right: -30px;
  top: 0;
  bottom: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-style: solid;
  border-width: 5px 0 5px 12.5px;
  border-color: transparent transparent transparent #FFF;
}
@media screen and (max-width: 768px) {
  .footer__nav__item a:before {
    right: -20px;
    border-width: 3px 0 3px 8px;
  }
}
.footer__contact a {
  background: #FFF;
  color: #116DC9;
}
@media screen and (max-width: 768px) {
  .footer__contact a {
    margin: auto;
  }
}
.footer__contact a:before {
  background: #116DC9;
}
.footer__contact a:after {
  border-color: #FFF;
}
.footer__copy {
  padding: 20px 0;
  background: #064591;
  color: #FFF;
  font-size: 14px;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .footer__copy {
    font-size: 12px;
  }
}

/*----------------------------------------------------------------------
10.	ページ別個別設定
----------------------------------------------------------------------*/
.main {
  position: relative;
}
.main__title {
  border-bottom: 1px solid #000;
}
.main__title__inner {
  display: block;
  width: 1180px;
  margin: 0 auto;
  padding-bottom: 25px;
  font-size: 40px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .main__title__inner {
    width: auto;
    padding: 0 0 10px 3%;
    font-size: 24px;
  }
}

.program {
  padding-top: 165px;
}
@media screen and (max-width: 768px) {
  .program {
    padding-top: 20px;
  }
}
.program__list {
  display: flex;
  flex-wrap: wrap;
  width: 1180px;
  margin: 50px auto 100px;
}
@media screen and (max-width: 768px) {
  .program__list {
    width: auto;
    margin: 0 auto 20%;
  }
}
.program__item {
  -moz-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 373px;
  margin: 30px 30px 0 0;
  background: #FFF;
}
@media screen and (max-width: 768px) {
  .program__item {
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    width: auto !important;
    margin: 8% 5% 0;
  }
}
.program__item:nth-child(3n) {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .program__item:nth-child(3n) {
    margin-right: 5%;
  }
}
.program__item a {
  display: block;
  padding: 25px 25px 30px;
  color: initial;
}
@media screen and (max-width: 768px) {
  .program__item a {
    padding: 4%;
  }
}
.program__item__thumb {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .program__item__thumb {
    margin-bottom: 5%;
  }
}
.program__item__thumb img {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  width: 100%;
}
.program__item__term {
  margin-bottom: 18px;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .program__item__term {
    margin-bottom: 3%;
    font-size: 18px;
  }
}
.program__item__term em {
  color: #116DC9;
  font-weight: 700;
}
.program__item__description {
  margin-bottom: 18px;
  font-size: 16px;
  line-height: 2.125;
}
@media screen and (max-width: 768px) {
  .program__item__description {
    margin-bottom: 3%;
    font-size: 14px;
    line-height: 1.57143;
  }
}
.program__item__more {
  text-align: right;
}
.program__item__more__inner {
  display: inline-block;
  padding-bottom: 3px;
  color: #116DC9;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px solid #000;
}
@media screen and (max-width: 768px) {
  .program__item__more__inner {
    font-size: 14px;
  }
}
.program__upper {
  position: relative;
  z-index: 1;
  width: 1180px;
  margin: 0 auto -265px;
}
@media screen and (max-width: 768px) {
  .program__upper {
    width: auto;
    margin-bottom: 0;
  }
}
.program__title {
  margin-bottom: 40px;
  font-size: 50px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .program__title {
    margin-bottom: 20px;
    padding-left: 3%;
    font-size: 20px;
  }
}
.program__box {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  width: 780px;
  padding: 80px 50px 70px;
  background: #F0F8FF;
}
@media screen and (max-width: 768px) {
  .program__box {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: auto;
    padding: 4%;
  }
}
.program__box__term {
  padding-left: 25px;
  color: #116DC9;
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
  border-left: 6px solid #116DC9;
}
@media screen and (max-width: 768px) {
  .program__box__term {
    padding-left: 10px;
    font-size: 14px;
    border-width: 3px;
  }
}
@media screen and (max-width: 768px) {
  .program__box__term br {
    display: none;
  }
}
.program__box__description {
  font-size: 16px;
  line-height: 2.25;
}
@media screen and (max-width: 768px) {
  .program__box__description {
    font-size: 13px;
    line-height: 2;
  }
}
.program__pic {
  position: absolute;
  z-index: -1;
  right: -100px;
  top: -80px;
}
@media screen and (max-width: 768px) {
  .program__pic {
    position: unset;
  }
}
.program__lower {
  padding: 365px 0 150px;
  background: #E8ECEF;
}
@media screen and (max-width: 768px) {
  .program__lower {
    position: unset;
    z-index: unset;
    padding: 8% 0 10%;
  }
}
.program .box {
  width: 960px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (max-width: 768px) {
  .program .box {
    width: auto;
  }
}
.program .box__title {
  position: relative;
  margin-bottom: 70px;
  color: #116DC9;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .program .box__title {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
.program .box__title:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  width: 72px;
  height: 2px;
  margin: auto;
  background: #000;
}
@media screen and (max-width: 768px) {
  .program .box__title:before {
    bottom: -12px;
    width: 36px;
    height: 1px;
  }
}

.summary {
  margin-bottom: 130px;
}
@media screen and (max-width: 768px) {
  .summary {
    margin-bottom: 10%;
  }
}
.summary__inner {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  padding: 40px 60px;
  background: #FFF;
}
@media screen and (max-width: 768px) {
  .summary__inner {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 3% 4%;
  }
}
.summary__item {
  padding: 20px 0;
}
@media screen and (max-width: 768px) {
  .summary__item {
    padding: 3% 0;
  }
}
.summary__item:not(:last-child) {
  border-bottom: 1px solid #CCC;
}
.summary__item dl {
  display: flex;
}
@media screen and (max-width: 768px) {
  .summary__item dl {
    display: block;
  }
}
.summary__item__term, .summary__item__description {
  font-size: 16px;
  line-height: 2.25;
}
@media screen and (max-width: 768px) {
  .summary__item__term, .summary__item__description {
    line-height: 1.88889;
  }
}
.summary__item__term {
  width: 28%;
  color: #116DC9;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .summary__item__term {
    width: auto;
    font-size: 18px;
  }
}
.summary__item__description {
  width: 72%;
}
@media screen and (max-width: 768px) {
  .summary__item__description {
    width: auto;
    font-size: 14px;
  }
}
.summary__item__description a {
  color: #116DC9;
  text-decoration: underline;
}

.schedule__list {
  width: 610px;
  margin: auto;
}
@media screen and (max-width: 768px) {
  .schedule__list {
    width: auto;
  }
}
.schedule__item {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  padding: 25px 0 25px 70px;
  background: #FFF;
}
@media screen and (max-width: 768px) {
  .schedule__item {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    padding: 4%;
  }
}
.schedule__item:not(:last-child) {
  margin-bottom: 35px;
}
@media screen and (max-width: 768px) {
  .schedule__item:not(:last-child) {
    margin-right: 15px;
  }
}
.schedule__item:not(:last-child):before {
  content: "";
  position: absolute;
  left: 127px;
  bottom: -35px;
  width: 2px;
  height: 35px;
  background: #1372D1;
}
@media screen and (max-width: 768px) {
  .schedule__item:not(:last-child):before {
    left: 15%;
  }
}
.schedule__item dl {
  display: flex;
  align-items: center;
}
.schedule__item__term, .schedule__item__description {
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  .schedule__item__term, .schedule__item__description {
    font-size: 14px;
    line-height: 1.3;
  }
}
.schedule__item__term {
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  margin-right: 30px;
  background: #29BBE2;
  color: #FFF;
  font-weight: 500;
  letter-spacing: 3px;
}
@media screen and (max-width: 768px) {
  .schedule__item__term {
    width: 25%;
    height: 30px;
    margin-right: 15px;
  }
}
.schedule__item__description {
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  .schedule__item__description {
    width: 75%;
  }
}

.lecturer {
  padding: 150px 0;
  background: url("../program/img/lecturer_bg.gif") center top no-repeat #116DC9;
}
@media screen and (max-width: 768px) {
  .lecturer {
    padding: 8% 0;
    background: #116DC9;
  }
}
.lecturer__title {
  margin-bottom: 50px;
  color: #FFF;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .lecturer__title {
    margin-bottom: 5%;
    font-size: 28px;
  }
}
.lecturer__inner {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  margin: auto;
  padding: 50px;
  background: #FFF;
}
@media screen and (max-width: 768px) {
  .lecturer__inner {
    display: block;
    width: auto;
    margin: 0 4%;
    padding: 5% 4%;
  }
}
.lecturer__inner:not(:last-of-type) {
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .lecturer__pic {
    width: 50%;
    margin: 0 auto 4%;
  }
}
.lecturer__pic img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.lecturer__info {
  width: 450px;
}
@media screen and (max-width: 768px) {
  .lecturer__info {
    width: auto;
  }
}
.lecturer__info__name {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .lecturer__info__name {
    margin-bottom: 2%;
    font-size: 24px;
    text-align: center;
  }
}
.lecturer__info__name small {
  margin-left: 15px;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .lecturer__info__name small {
    font-size: 16px;
  }
}
.lecturer__info__name .en {
  margin-left: 15px;
  font-size: 18px;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .lecturer__info__name .en {
    font-size: 12px;
  }
}
.lecturer__info__position {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .lecturer__info__position {
    margin-bottom: 4%;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }
}
.lecturer__info__text {
  padding: 15px 20px;
  background: #E1EFFF;
  font-size: 14px;
  line-height: 1.85714;
}
@media screen and (max-width: 768px) {
  .lecturer__info__text {
    padding: 4% 5%;
    font-size: 14px;
    line-height: 1.6;
  }
}

.contact {
  padding: 100px 0 360px;
  background: url("../program/img/contact_bg.png") center bottom 30px no-repeat;
}
@media screen and (max-width: 768px) {
  .contact {
    padding: 10% 0 70%;
    background: url("../program/img/contact_bg.png") center bottom 30px no-repeat;
    -moz-background-size: 250%;
    -webkit-background-size: 250%;
    background-size: 250%;
  }
}
.contact__title {
  margin-bottom: 50px;
  color: #116DC9;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contact__title {
    margin-bottom: 6%;
    font-size: 30px;
  }
}
.contact__title__category {
  display: inline-block;
  margin-bottom: 30px;
  padding: 6px 15px 9px;
  color: initial;
  font-size: 22px;
  font-weight: bold;
  border: 1px solid #000;
}
@media screen and (max-width: 768px) {
  .contact__title__category {
    margin-bottom: 6%;
    padding: 3% 4%;
    font-size: 20px;
  }
}
.contact__text {
  width: 780px;
  margin: 0 auto 55px;
  font-size: 18px;
  line-height: 2.44444;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .contact__text {
    width: auto;
    margin: 0 4% 8%;
    font-size: 14px;
    line-height: 2;
    text-decoration: left;
  }
}
.contact__btn a {
  -moz-border-radius: 60px;
  -webkit-border-radius: 60px;
  border-radius: 60px;
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
  width: 490px;
  height: 120px;
  margin: auto;
  font-size: 24px;
}
@media screen and (max-width: 768px) {
  .contact__btn a {
    width: 80%;
    height: 65px;
    font-size: 18px;
  }
}
.contact__btn a:before {
  right: 30px;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .contact__btn a:before {
    right: 15px;
    width: 30px;
    height: 30px;
  }
}
.contact__btn a:after {
  right: 49px;
  width: 12px;
  height: 12px;
}
@media screen and (max-width: 768px) {
  .contact__btn a:after {
    right: 27px;
    width: 8px;
    height: 8px;
    border-width: 2px;
  }
}

/*# sourceMappingURL=program.css.map */
