@charset "UTF-8";
/*----------------------------------------------------------------------
------------------------------------------------------------------------

File Name: top.scss

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
------------------------------------------------------------------------
目次

1.	共通使用変数定義
2.	ブラウザデフォルトスタイルリセット
3.	HTMLタグ
4.	container
5.	共通部分
6.	header
7.	content
8.	main
9.	sub
10.	footer
11.	ページ別個別設定

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
1.	共通使用変数定義
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
2.	ブラウザデフォルトスタイルリセット
----------------------------------------------------------------------*/
body,
h1, h2, h3, h4, h5, h6,
div,
p,
ul, ol, dl,
form, fieldset,
table,
address,
blockquote,
noscript,
pre,
tr,
td,
input,
textarea {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-style: normal;
}

body {
  font-size: 10px;
  font-family: "Noto Sans JP", sans-serif;
}

* html body {
  font-size: 62.5%;
}

* + html body {
  font-size: 62.5%;
}

/* start \*/
html:\66irst-child body {
  font-size: 62.5%;
}

/* end */
body:first-of-type {
  font-size: 62.5%;
}

body > iframe {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
}

small {
  font-size: 1em;
}

mark {
  background: none;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0px;
  font-size: inherit;
  font: 100%;
}

li {
  list-style-type: none;
}

dd {
  margin: 0;
}

a,
abbr,
acronym,
em,
strong,
span,
img,
sub,
sup,
input,
button,
textarea,
select,
label,
caption {
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  border: none;
  vertical-align: bottom;
}
@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }
}

caption, th {
  font-weight: normal;
  text-align: left;
}

th, td {
  padding: 0px;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
}

textarea {
  vertical-align: top;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

header, footer, article, section, aside,
nav,
figure, figcaption {
  display: block;
  margin: 0;
  padding: 0;
}

/*----------------------------------------------------------------------
3.	HTMLタグ
----------------------------------------------------------------------*/
html,
body {
  min-width: 1460px;
  height: 100%;
}

html {
  font-size: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  color: #1A1A1A;
}
body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:before, a:after {
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
a > * {
  -moz-transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
a:hover > * {
  text-decoration: none;
}

/*----------------------------------------------------------------------
4.	container
----------------------------------------------------------------------*/
#container {
  position: relative;
  min-height: 100%;
}
* html #container {
  height: 100%;
}
body > #container {
  height: auto;
}

#container {
  background: url("../img/container_bg.png") center top 330px no-repeat #F0F8FF;
}

/*----------------------------------------------------------------------
5.	共通部分
----------------------------------------------------------------------*/
.fll {
  float: left;
}

.flr {
  float: right;
}

@media screen and (min-width: 769px) {
  .sp_none {
    display: block;
  }
}
@media screen and (max-width: 768px) {
  .sp_none {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .pc_none {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .pc_none {
    display: block;
  }
}

.link-btn a {
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 270px;
  height: 65px;
  padding-right: 10px;
  background: #116DC9;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
}
.link-btn a:before, .link-btn a:after {
  content: "";
  position: absolute;
}
.link-btn a:before {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  right: 20px;
  top: 0;
  bottom: 0;
  width: 39px;
  height: 39px;
  margin: auto;
  background: #FFF;
}
.link-btn a:after {
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  right: 36px;
  top: 0;
  bottom: 0;
  width: 9px;
  height: 9px;
  margin: auto;
  border: 0;
  border-top: solid 3px #1658B7;
  border-right: solid 3px #1658B7;
}

.right-nav {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1000;
}
.right-nav a {
  -moz-transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
  display: block;
}
.right-nav a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
@media screen and (max-width: 768px) {
  .right-nav img {
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 769px) {
  #drawernav {
    display: none;
  }
}

/*----------------------------------------------------------------------
6.	#header
----------------------------------------------------------------------*/
.header {
  -moz-border-radius: 0 0 50px 50px;
  -webkit-border-radius: 0;
  border-radius: 0 0 50px 50px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 1400px;
  margin: auto;
  background: #FFF;
  overflow: hidden;
}
.header__upper {
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  border-bottom: 1px solid #B3B3B3;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo a {
  display: block;
  margin-right: 20px;
}
.header__logo small {
  display: block;
  font-size: 16px;
  line-height: 1.5625;
}
.header__nav__list {
  display: flex;
  justify-content: center;
}
.header__nav__item {
  margin: 0 30px;
}
.header__nav__item a {
  display: block;
}
.header__nav__item__inner {
  display: block;
  position: relative;
  padding: 22px;
  color: initial;
  font-size: 16px;
  font-weight: 500;
}
.header__nav__item__inner.-is-active:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 2px;
  margin: auto;
  background: #116DC9;
}

/*----------------------------------------------------------------------
7.	#content
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
8.	#main
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
9.	#sub
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
10.	#footer
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
11.	ページ別個別設定
----------------------------------------------------------------------*/
.main__visual {
  margin: 50px 0 150px;
}
.main__visual__title {
  position: relative;
  z-index: 10;
  margin-bottom: 165px;
  text-align: center;
}

.news {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  width: 1000px;
  margin: auto;
  padding: 145px 90px 60px;
  background: #FFF;
}
.news:before {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: -230px;
  width: 609px;
  height: 336px;
  margin: auto;
  background: url("../img/news_bg.png") left top no-repeat;
}
.news__title {
  margin-bottom: 5px;
  color: #116DC9;
  font-size: 50px;
  font-weight: 700;
}
.news__title small {
  display: block;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 700;
}
.news__tab {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #116DC9;
}
.news__tab__item {
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-radius: 8px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 175px;
  height: 46px;
  margin: 0 8px;
  color: #116DC9;
  font-size: 16px;
  border: 1px solid #116DC9;
  border-bottom: none;
  cursor: pointer;
}
.news__tab__item:before, .news__tab__item:after {
  content: "";
  position: absolute;
  bottom: -1px;
  width: 10px;
  height: 10px;
  background: url("../img/tab_item_bg.gif") left top no-repeat;
}
.news__tab__item:before {
  left: -10px;
}
.news__tab__item:after {
  right: -10px;
  transform: scale(-1, 1);
}
.news__tab__item.-is-active {
  background: #116DC9;
  color: #FFF;
}
.news__tab__item.-is-active:before, .news__tab__item.-is-active:after {
  background: url("../img/tab_item_bg_active.gif") left top no-repeat;
}
.news__list {
  margin-bottom: 60px;
}
.news__item {
  padding: 30px 0;
  background-image: linear-gradient(to right, #116dc9 6px, rgba(0, 0, 0, 0) 6px);
  background-size: 16px 1px;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.news__item > dl {
  display: flex;
  align-items: center;
}
.news__item__date {
  margin-right: 25px;
  padding-right: 30px;
  color: #1A1A1A;
  font-size: 14px;
  font-weight: 500;
  border-right: 1px solid #1A1A1A;
}
.news__item__text {
  display: flex;
  align-items: center;
  color: #1A1A1A;
  font-size: 16px;
}
.news__item__text a {
  color: #116DC9;
  text-decoration: underline;
}
.news__item__category {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 25px;
  margin-right: 25px;
  color: #116DC9;
  font-size: 15px;
  border: 1px solid #116DC9;
}
.news__more a {
  margin: auto;
}

.leader {
  margin-bottom: 150px;
}
.leader__inner {
  position: relative;
  width: 1060px;
  margin: auto;
  padding-bottom: 230px;
}
.leader__title {
  position: relative;
  margin-bottom: 150px;
  color: #000;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}
.leader__title:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -50px;
  width: 120px;
  height: 1px;
  margin: auto;
  background: #000;
}
.leader__lead {
  margin-bottom: 50px;
}
.leader__lead__inner {
  display: inline-block;
  padding: 4px 15px 9px;
  background: #116DC9;
  color: #FFF;
  font-size: 36px;
  font-weight: 500;
}
.leader__lead__inner:not(:last-of-type) {
  margin-bottom: 18px;
}
.leader__text {
  position: relative;
  z-index: 10;
  font-size: 18px;
  line-height: 2.22222;
}
.leader__text__notice {
  display: block;
  position: relative;
  margin-top: 10px;
  padding-left: 1.2em;
  font-size: 12px;
  line-height: 1.66667;
}
.leader__text__notice:before {
  content: "※";
  position: absolute;
  left: 0;
}
.leader__pic {
  position: absolute;
  right: -180px;
  top: 180px;
}
.leader__pic2 {
  left: 0;
  right: unset;
  top: unset;
  bottom: 0;
}

.program {
  -moz-border-radius: 200px 0 0 0;
  -webkit-border-radius: 200px;
  border-radius: 200px 0 0 0;
  background: url("../img/program_bg.png") right top 160px no-repeat #116DC9;
}
.program__inner {
  padding: 140px 0 340px 160px;
}
.program__title {
  margin-bottom: 40px;
  color: #FFF;
  font-size: 60px;
  font-weight: 700;
}
.program__lead {
  width: 580px;
  margin-bottom: 40px;
  color: #FFF;
  font-size: 20px;
  line-height: 2;
}
.program__more {
  margin-bottom: 60px;
}
.program__more a {
  width: 300px;
  padding-right: 20px;
  background: #FFF;
  color: #116DC9;
}
.program__more a:before {
  background: #116DC9;
}
.program__more a:after {
  border-color: #FFF;
}
.program__item {
  width: 437px;
  padding: 30px 30px 40px;
  background: #FFF;
}

/*# sourceMappingURL=top.css.map */
