@import 'compass';

/*===============================================*/

/*  humbergermenu.css */

/*===============================================*/


@media screen and (max-width: 1200px){
	#humberger{
		@include box-sizing(initial);
		display:block;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 3;
		width: 28px;
		padding: 15px 13px 9px 13px;
		background-color: #116DC9;
		cursor: pointer;
		z-index:10001;
	}
	.icon-bar{
		@include box-sizing(initial);
		height: 2px;
		background: #fff;
		display: block;
		margin-bottom: 6px;
		-webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
		   -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
		     -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
		        transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

		-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
		   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
		     -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
		        transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
	}



	/**
	* ドロワー開放時のスタイル
	**/

	body.drawer-opened #page{
		left: -240px;
		box-shadow: 1px 0 2px #000;
		-webkit-box-shadow: 1px 0 2px #000;
	}
	body.drawer-opened .fixed-content{
		left: -240px;
	}
	body.drawer-opened #drawernav{
		right: 0;
	}
	body.drawer-opened #humberger .icon-bar{
		background: #fff;
	}
	body.drawer-opened #humberger :nth-child(1){
		transform:translate(0,8px) rotate(45deg);
		-webkit-transform:translate(0,8px) rotate(45deg);
	}
	body.drawer-opened #humberger :nth-child(2){
		transform:translate(-20px ,0);
		-webkit-transform:translate(-20px ,0);
		opacity:0;
	}
	body.drawer-opened #humberger :nth-child(3){
		transform:translate(0,-8px) rotate(-45deg);
		-webkit-transform:translate(0,-8px) rotate(-45deg);
	}
	body.drawer-opened #overlay{
		z-index: 10000;
		opacity: 0.8;
		left: -240px;
	}
}

/**/
#drawernav{
	position: fixed;
	top: 0;
	right: -80%;
	width: 80%;
	height: 100%;
	padding-top: 50px;
	background: #fff;
	color: #000;
	z-index: 10000;
	-webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	   -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	     -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	        transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

	-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
	   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
	     -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
	        transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}
#drawernav ul{
	list-style: none;
	padding: 0;
}
#drawernav ul li{
	line-height: 30px;
}
#drawernav ul li a{
	color: #000;
	display: block;
	padding: 0 0 0 30px;
	text-decoration: none;
	font-size:14px;
}
#drawernav h4{
	margin-top:10px;
	padding: 0 10px;
	font-size:12px;
}

#drawernav h1{
	position: absolute;
	top: 16px;
	left: 18px;
	width:50%;

	img {
		width: 100%;
		height: auto;
	}
}

.fixed-content{
	right: inherit;
	width: 100%;
	z-index: 2;
	-webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	   -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	     -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	        transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

	-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
	   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
	     -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
	        transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}
#overlay{
	z-index:-1;
	opacity: 0;
	background: #000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	position: fixed;
	-webkit-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	   -moz-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	     -o-transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000);
	        transition: all 400ms cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

	-webkit-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
	   -moz-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
	     -o-transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
	        transition-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */
}



/*accordion--------------------*/

.open {display:block;}

.spNav {
	margin-bottom:10px;
	width:100%;
	padding:0;
}
.spNav li {
	position:relative;
	list-style:none;
}

.spNav > li > a{
	display: block;
	text-decoration: none;
	cursor: pointer;
	position: relative;
}

.spNav > li > a h5 {
	padding: 5px 0;
	font-size:14px;
	line-height:14px;
	font-weight:500;
	letter-spacing: 0.1em;
	transition: all .3s;
}
.spNav > li > a h5::after { position: absolute;bottom: 0;left: 0;content: '';width: 0;height: 1px;background-color: #fff;transition: .4s;}


.spNav > li > ul {
	display: none;
	height:auto;
	padding:0 0;
}


.spNav li ul li {
	position: relative;
	height:auto;
	color:#fff;
	font-size:14px;
	line-height:14px !important;
	font-weight:500;
	letter-spacing: 0.1em;

	&:before {
		content: '';
		position: absolute;
		top: 4px;
		left: 34px;
		width: 7px;
		height: 11px;
		background: url("../img/common_icon_line.gif") left top no-repeat;
	}
}

.spNav li ul li a {
	padding: 6px 0 6px 45px !important;
	font-size: 13px !important;
}

.spNav li ul li a.over {
	color:#c30012;
}

.spNav li .accordion_icon,
.spNav li .accordion_icon span {
	display: inline-block;
	transition: all .3s;
	box-sizing: border-box;
}

.spNav li .accordion_icon {
	position: absolute;
	width: 11px;
	height: 11px;
	top:14px;
	right:15px;
}

.spNav li .accordion_icon+p {
	line-height: 30px
}

#drawernav ul li a.toggle:before {
	content: none
}

#drawernav ul li a.toggle:hover span {
	background-color: #FFF
}

.spNav li .accordion_icon span {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: #000;
}

.spNav li .accordion_icon span:nth-of-type(1) {
	transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.spNav li .accordion_icon span:nth-of-type(2) {
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}


/**/

.hmenu li .accordion_icon span:nth-of-type(1) {
	transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
}
.hmenu li .accordion_icon span:nth-of-type(2) {
	transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.hmenu li .accordion_icon.active span:nth-of-type(1) {
	display:none;
}
.hmenu li .accordion_icon.active span:nth-of-type(2) {
	@include rotate(180deg);
}

/*contactBtn----*/
.contactBtn {
	a {
		@include border-radius(25px);
		@include box-sizing(border-box);
		display: block;
		margin: 0 30px;
		padding: 10px 0;
		background-color: #C30012;
		color: #fff;
		font-size: 14px;
		line-height: 26px;
		text-align: center;

		&:hover {
			text-decoration: none;
		}
	}
}
