//変数インクルード
@import 'core';
@import 'compass';
/*----------------------------------------------------------------------
------------------------------------------------------------------------

File Name: leader.scss

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
------------------------------------------------------------------------
目次

1.	共通使用変数定義
2.	ブラウザデフォルトスタイルリセット
3.	HTMLタグ
4.	container
5.	共通部分
6.	header
7.	content
8.	main
9.	footer
10.	ページ別個別設定

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
1.	共通使用変数定義
----------------------------------------------------------------------*/


/*----------------------------------------------------------------------
2.	ブラウザデフォルトスタイルリセット
----------------------------------------------------------------------*/
@include reset;
//compass
@include reset-html5;
//オリジナル
@include resethtml5;


/*----------------------------------------------------------------------
3.	HTMLタグ
----------------------------------------------------------------------*/
@include layout-tags;


/*----------------------------------------------------------------------
4.	container
----------------------------------------------------------------------*/
@include layout-container;


/*----------------------------------------------------------------------
5.	共通部分
----------------------------------------------------------------------*/
@include common;


/*----------------------------------------------------------------------
6.	#header
----------------------------------------------------------------------*/
@include layout-header;


/*----------------------------------------------------------------------
7.	#content
----------------------------------------------------------------------*/
@include layout-content;


/*----------------------------------------------------------------------
8.	#main
----------------------------------------------------------------------*/
@include layout-main;


/*----------------------------------------------------------------------
9.	#footer
----------------------------------------------------------------------*/
@include layout-footer;


/*----------------------------------------------------------------------
10.	ページ別個別設定
----------------------------------------------------------------------*/

.main {
	position: relative;

	&__title {
		border-bottom: 1px solid #000;

		&__inner {
			display: block;
			width: 1180px;
			margin: 0 auto;
			padding-bottom: 25px;
			font-size: 40px;
			font-weight: bold;
		}
	}
}

.leader {
	&__box {
		width: 1180px;
		margin: 50px auto 100px;
		@include sp() {
			width: auto;
			margin: 5% auto 0;
		}

		&__title {
			margin-bottom: 30px;
			font-size: 30px;
			font-weight: bold;
		}

		&__lead {
			font-size: 16px;
			line-height: 2;
		}
	}

	&__subbox {
		margin-top: 80px;

		&__title {
			position: relative;
			margin-bottom: 30px;
			padding: 0 0 10px 18px;
			font-size: 24px;
			font-weight: bold;
			border-bottom: 2px solid #C3C3C3;

			&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 1px;
				width: 6px;
				height: 26px;
				background-color: #116DC9;
				border-radius: 4px;
			}
		}

		&__flex {
			display: flex;
			justify-content: space-between;
		}

		&__list {
			width: 680px;
		}

		&__item {
			&:not(:last-child) {
				margin-bottom: 20px;
			}

			&__term,
			&__description {
				font-size: 16px;
				line-height: 2;
			}

			&__term {
				font-weight: bold;
			}
		}

		&__subtitle {
			position: relative;
			margin: 40px 0 20px;
			padding-bottom: 8px;
			font-size: 20px;
			font-weight: bold;
			border-bottom: 2px solid #C3C3C3;

			&:before {
				display: block;
				content: "";
				position: absolute;
				bottom: 0;
				width: 15%;
				margin-bottom: -2px;
				border-bottom: 2px solid #116DC9;
			}
		}

		&__text {
			font-size: 16px;
			line-height: 2;

			a {
				color: #116DC9;
				text-decoration: underline;
			}
		}
	}
}
