//変数インクルード
@import 'core';
@import 'compass';
/*----------------------------------------------------------------------
------------------------------------------------------------------------

File Name: news.scss

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
------------------------------------------------------------------------
目次

1.	共通使用変数定義
2.	ブラウザデフォルトスタイルリセット
3.	HTMLタグ
4.	container
5.	共通部分
6.	header
7.	content
8.	main
9.	footer
10.	ページ別個別設定

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
1.	共通使用変数定義
----------------------------------------------------------------------*/


/*----------------------------------------------------------------------
2.	ブラウザデフォルトスタイルリセット
----------------------------------------------------------------------*/
@include reset;
//compass
@include reset-html5;
//オリジナル
@include resethtml5;


/*----------------------------------------------------------------------
3.	HTMLタグ
----------------------------------------------------------------------*/
@include layout-tags;


/*----------------------------------------------------------------------
4.	container
----------------------------------------------------------------------*/
@include layout-container;


/*----------------------------------------------------------------------
5.	共通部分
----------------------------------------------------------------------*/
@include common;


/*----------------------------------------------------------------------
6.	#header
----------------------------------------------------------------------*/
@include layout-header;


/*----------------------------------------------------------------------
7.	#content
----------------------------------------------------------------------*/
@include layout-content;


/*----------------------------------------------------------------------
8.	#main
----------------------------------------------------------------------*/
@include layout-main;


/*----------------------------------------------------------------------
9.	#footer
----------------------------------------------------------------------*/
@include layout-footer;


/*----------------------------------------------------------------------
10.	ページ別個別設定
----------------------------------------------------------------------*/

.main {
	position: relative;

	&__title {
		border-bottom: 1px solid #000;

		&__inner {
			display: block;
			width: 1180px;
			margin: 0 auto;
			padding-bottom: 25px;
			font-size: 40px;
			font-weight: bold;
			@include sp() {
				width: auto;
				padding: 0 0 10px 3%;
				font-size: 24px;
			}
		}
	}
}

.news {
	@include border-radius(50px);
	@include box-shadow(0 0 10px rgba(#000, .3));
	position: relative;
	width: 1180px;
	margin: 100px auto;
	padding: 60px 70px;
	background: #FFF;
	@include sp() {
		@include box-shadow(none);
		@include border-radius(0);
		width: auto;
		margin: 0 auto 10%;
		padding: 0;
	}

	&__title {
		margin-bottom: 5px;
		color: #116DC9;
		font-size: 50px;
		font-weight: 700;
		@include sp() {
			position: relative;
			z-index: 10;
			margin-bottom: 6%;
			padding-top: 10%;
			font-size: 32px;
			text-align: center;
		}

		small {
			display: block;
			margin-top: 25px;
			font-size: 18px;
			font-weight: 700;
			@include sp() {
				margin-top: 2%;
				font-size: 13px;
			}
		}
	}

	&__tab {
		display: flex;
		justify-content: flex-end;
		border-bottom: 1px solid #116DC9;
		@include sp() {
			justify-content: space-around;
			position: relative;
			z-index: 10;
		}

		&__item {
			@include border-radius(8px 8px 0 0);
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 175px;
			height: 46px;
			margin: 0 8px;
			color: #116DC9;
			font-size: 16px;
			border: 1px solid #116DC9;
			border-bottom: none;
			cursor: pointer;
			@include sp() {
				width: 28%;
				height: 40px;
				font-size: 12px;
			}

			&:before,
			&:after {
				content: "";
				position: absolute;
				bottom: -1px;
				width: 10px;
				height: 10px;
				background: url("../img/tab_item_bg.gif") left top no-repeat;
			}

			&:before {
				left: -10px;
			}

			&:after {
				right: -10px;
				transform: scale(-1, 1);
			}

			&.-is-active {
				background: #116DC9;
				color: #FFF;

				&:before,
				&:after {
					background: url("../img/tab_item_bg_active.gif") left top no-repeat;
				}
			}
		}
	}

	&__box {
	}

	&__list {
	}

	&__item {
		padding: 30px 0;
		background-image : linear-gradient(to right, #116DC9 6px, transparent 6px);
		background-size: 16px 1px;
		background-repeat: repeat-x;
		background-position: left bottom;
		@include sp() {
			padding: 4%;
		}

		>dl {
			display: flex;
			align-items: center;
			@include sp() {
				display: block;
			}
		}

		&__date {
			margin-right: 25px;
			padding-right: 30px;
			color: #1A1A1A;
			font-size: 14px;
			font-weight: 500;
			border-right: 1px solid #1A1A1A;
			@include sp() {
				margin: 0 0 2%;
				padding: 0;
				font-size: 12px;
				border: none;
			}
		}

		&__description {
			display: flex;
			align-items: center;
			color: #1A1A1A;
			font-size: 16px;
			line-height: 1.3;
			@include sp() {
				display: block;
				font-size: 13px;
			}

			a {
				display: block;
				width: 780px;
				color: #116DC9;
				line-height: 1.5;
				text-decoration: underline;
				@include sp() {
					width: auto;
				}
			}
		}

		&__text {
			width: 780px;
			line-height: 1.5;
			@include sp() {
				width: auto;
			}
		}

		&__category {
			@include border-radius(15px);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 110px;
			height: 25px;
			margin-right: 25px;
			color: #116DC9;
			font-size: 15px;
			border: 1px solid #116DC9;
			@include sp() {
				width: 30%;
				height: auto;
				margin: 0 0 2%;
				padding: 1% 3%;
				font-size: 10px;
			}
		}
	}

	&__more {
		a {
			margin: auto;
		}
	}
}