//変数インクルード
@import 'core';
@import 'compass';
/*----------------------------------------------------------------------
------------------------------------------------------------------------

File Name: top.scss

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
------------------------------------------------------------------------
目次

1.	共通使用変数定義
2.	ブラウザデフォルトスタイルリセット
3.	HTMLタグ
4.	container
5.	共通部分
6.	header
7.	content
8.	main
9.	sub
10.	footer
11.	ページ別個別設定

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
1.	共通使用変数定義
----------------------------------------------------------------------*/


/*----------------------------------------------------------------------
2.	ブラウザデフォルトスタイルリセット
----------------------------------------------------------------------*/
@include reset;
//compass
@include reset-html5;
//オリジナル
@include resethtml5;


/*----------------------------------------------------------------------
3.	HTMLタグ
----------------------------------------------------------------------*/
@include layout-tags;


/*----------------------------------------------------------------------
4.	container
----------------------------------------------------------------------*/
@include layout-container;

#container {
	background: url("../img/container_bg.png") center top 330px no-repeat #F0F8FF;
}


/*----------------------------------------------------------------------
5.	共通部分
----------------------------------------------------------------------*/
@include common;


/*----------------------------------------------------------------------
6.	#header
----------------------------------------------------------------------*/
@include layout-header;


/*----------------------------------------------------------------------
7.	#content
----------------------------------------------------------------------*/
@include layout-content;


/*----------------------------------------------------------------------
8.	#main
----------------------------------------------------------------------*/
@include layout-main;


/*----------------------------------------------------------------------
9.	#sub
----------------------------------------------------------------------*/
@include layout-sub;


/*----------------------------------------------------------------------
10.	#footer
----------------------------------------------------------------------*/
@include layout-footer;


/*----------------------------------------------------------------------
11.	ページ別個別設定
----------------------------------------------------------------------*/

.main {
	&__visual {
		margin: 50px 0 150px;

		&__title {
			position: relative;
			z-index: 10;
			margin-bottom: 165px;
			text-align: center;
		}
	}
}

.news {
	@include border-radius(50px);
	@include box-shadow(0 0 10px rgba(#000, .3));
	position: relative;
	width: 1000px;
	margin: auto;
	padding: 145px 90px 60px;
	background: #FFF;

	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		top: -230px;
		width: image-width("../img/news_bg.png");
		height: image-height("../img/news_bg.png");
		margin: auto;
		background: url("../img/news_bg.png") left top no-repeat;
	}

	&__title {
		margin-bottom: 5px;
		color: #116DC9;
		font-size: 50px;
		font-weight: 700;

		small {
			display: block;
			margin-top: 25px;
			font-size: 18px;
			font-weight: 700;
		}
	}

	&__tab {
		display: flex;
		justify-content: flex-end;
		border-bottom: 1px solid #116DC9;

		&__item {
			@include border-radius(8px 8px 0 0);
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 175px;
			height: 46px;
			margin: 0 8px;
			color: #116DC9;
			font-size: 16px;
			border: 1px solid #116DC9;
			border-bottom: none;
			cursor: pointer;

			&:before,
			&:after {
				content: "";
				position: absolute;
				bottom: -1px;
				width: 10px;
				height: 10px;
				background: url("../img/tab_item_bg.gif") left top no-repeat;
			}

			&:before {
				left: -10px;
			}

			&:after {
				right: -10px;
				transform: scale(-1, 1);
			}

			&.-is-active {
				background: #116DC9;
				color: #FFF;

				&:before,
				&:after {
					background: url("../img/tab_item_bg_active.gif") left top no-repeat;
				}
			}
		}
	}

	&__list {
		margin-bottom: 60px;
	}

	&__item {
		padding: 30px 0;
		background-image : linear-gradient(to right, #116DC9 6px, transparent 6px);
		background-size: 16px 1px;
		background-repeat: repeat-x;
		background-position: left bottom;

		>dl {
			display: flex;
			align-items: center;
		}

		&__date {
			margin-right: 25px;
			padding-right: 30px;
			color: #1A1A1A;
			font-size: 14px;
			font-weight: 500;
			border-right: 1px solid #1A1A1A;
		}

		&__text {
			display: flex;
			align-items: center;
			color: #1A1A1A;
			font-size: 16px;

			a {
				color: #116DC9;
				text-decoration: underline;
			}
		}

		&__category {
			@include border-radius(15px);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 110px;
			height: 25px;
			margin-right: 25px;
			color: #116DC9;
			font-size: 15px;
			border: 1px solid #116DC9;
		}
	}

	&__more {
		a {
			margin: auto;
		}
	}
}

.leader {
	margin-bottom: 150px;

	&__inner {
		position: relative;
		width: 1060px;
		margin: auto;
		padding-bottom: 230px;
	}

	&__title {
		position: relative;
		margin-bottom: 150px;
		color: #000;
		font-size: 60px;
		font-weight: 700;
		text-align: center;

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -50px;
			width: 120px;
			height: 1px;
			margin: auto;
			background: #000;
		}
	}

	&__lead {
		margin-bottom: 50px;

		&__inner {
			display: inline-block;
			padding: 4px 15px 9px;
			background: #116DC9;
			color: #FFF;
			font-size: 36px;
			font-weight: 500;

			&:not(:last-of-type) {
				margin-bottom: 18px;
			}
		}
	}

	&__text {
		position: relative;
		z-index: 10;
		font-size: 18px;
		line-height: (40/18);

		&__notice {
			display: block;
			position: relative;
			margin-top: 10px;
			padding-left: 1.2em;
			font-size: 12px;
			line-height: (20/12);

			&:before {
				content: "※";
				position: absolute;
				left: 0;
			}
		}
	}

	&__pic {
		position: absolute;
		right: -180px;
		top: 180px;
	}

	&__pic2 {
		left: 0;
		right: unset;
		top: unset;
		bottom: 0;
	}
}

.program {
	@include border-radius(200px 0 0 0);
	background: url("../img/program_bg.png") right top 160px no-repeat #116DC9;

	&__inner {
		padding: 140px 0 340px 160px;
	}

	&__title {
		margin-bottom: 40px;
		color: #FFF;
		font-size: 60px;
		font-weight: 700;
	}

	&__lead {
		width: 580px;
		margin-bottom: 40px;
		color: #FFF;
		font-size: 20px;
		line-height: (40/20);
	}

	&__more {
		margin-bottom: 60px;

		a {
			width: 300px;
			padding-right: 20px;
			background: #FFF;
			color: #116DC9;

			&:before{
				background: #116DC9;
			}
			&:after {
				border-color: #FFF;
			}
		}
	}

	&__item {
		width: 437px;
		padding: 30px 30px 40px;
		background: #FFF;
	}
}