//変数インクルード
@import 'core';
@import 'compass';
/*----------------------------------------------------------------------
------------------------------------------------------------------------

File Name: top.scss

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
------------------------------------------------------------------------
目次

1.	共通使用変数定義
2.	ブラウザデフォルトスタイルリセット
3.	HTMLタグ
4.	container
5.	共通部分
6.	header
7.	content
8.	main
9.	footer
10.	ページ別個別設定

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
1.	共通使用変数定義
----------------------------------------------------------------------*/


/*----------------------------------------------------------------------
2.	ブラウザデフォルトスタイルリセット
----------------------------------------------------------------------*/
@include reset;
//compass
@include reset-html5;
//オリジナル
@include resethtml5;


/*----------------------------------------------------------------------
3.	HTMLタグ
----------------------------------------------------------------------*/
@include layout-tags;


/*----------------------------------------------------------------------
4.	container
----------------------------------------------------------------------*/
@include layout-container;

#container {
	background: url("../img/container_bg.png") center top 330px no-repeat #F0F8FF;
	@include sp() {
		background: url(../img/container_bg.png) center top 160px no-repeat #F0F8FF;
		@include background-size(contain);
	}
}


/*----------------------------------------------------------------------
5.	共通部分
----------------------------------------------------------------------*/
@include common;

.slick-prev,
.slick-next {
	@include sp() {
		top: 40%;
		bottom: unset;
		width: 40px;
		height: 40px;
	}

	&:after {
		@include sp() {
			width: 20px;
			height: 13px;
			@include background-size(contain);
		}
	}
}

.slick-prev {
	@include sp() {
		left: 1%;
	}

	&:after {
		@include sp() {
			left: 30%;
			top: 35%;
		}
	}
}

.slick-next {
	@include sp() {
		left: unset;
		right: 1%;
	}

	&:after {
		@include sp() {
			right: 30%;
			top: 35%;
		}
	}
}


/*----------------------------------------------------------------------
6.	#header
----------------------------------------------------------------------*/
@include layout-header;


/*----------------------------------------------------------------------
7.	#content
----------------------------------------------------------------------*/
@include layout-content;


/*----------------------------------------------------------------------
8.	#main
----------------------------------------------------------------------*/
@include layout-main;


/*----------------------------------------------------------------------
9.	#footer
----------------------------------------------------------------------*/
@include layout-footer;


/*----------------------------------------------------------------------
10.	ページ別個別設定
----------------------------------------------------------------------*/

.main {
	&__visual {
		margin: 50px 0 150px;
		@include sp() {
			margin: 0 0 15%;
		}

		&__title {
			position: relative;
			z-index: 10;
			margin-bottom: 165px;
			text-align: center;
			@include sp() {
				margin-bottom: 20%;
				padding: 5% 10%;
			}
		}
	}
}

.news {
	@include border-radius(50px);
	@include box-shadow(0 0 10px rgba(#000, .3));
	position: relative;
	width: 1000px;
	margin: auto;
	padding: 145px 90px 60px;
	background: #FFF;
	@include sp() {
		@include border-radius(0);
		width: auto;
		padding: 0;
	}

	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		top: -230px;
		width: image-width("../img/news_bg.png");
		height: image-height("../img/news_bg.png");
		margin: auto;
		background: url("../img/news_bg.png") left top no-repeat;
		@include sp() {
			top: -110px;
			width: 80%;
			background: url("../img/news_bg.png") left top no-repeat;
			@include background-size(contain);
		}
	}

	&__title {
		margin-bottom: 5px;
		color: #116DC9;
		font-size: 50px;
		font-weight: 700;
		@include sp() {
			position: relative;
			z-index: 10;
			margin-bottom: 6%;
			padding-top: 20%;
			font-size: 32px;
			text-align: center;
		}

		small {
			display: block;
			margin-top: 25px;
			font-size: 18px;
			font-weight: 700;
			@include sp() {
				margin-top: 2%;
				font-size: 13px;
			}
		}
	}

	&__tab {
		display: flex;
		justify-content: flex-end;
		border-bottom: 1px solid #116DC9;
		@include sp() {
			justify-content: space-around;
			position: relative;
			z-index: 10;
		}

		&__item {
			@include border-radius(8px 8px 0 0);
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 175px;
			height: 46px;
			margin: 0 8px;
			color: #116DC9;
			font-size: 16px;
			border: 1px solid #116DC9;
			border-bottom: none;
			cursor: pointer;
			@include sp() {
				width: 28%;
				height: 40px;
				font-size: 12px;
			}

			&:before,
			&:after {
				content: "";
				position: absolute;
				bottom: -1px;
				width: 10px;
				height: 10px;
				background: url("../img/tab_item_bg.gif") left top no-repeat;
			}

			&:before {
				left: -10px;
			}

			&:after {
				right: -10px;
				transform: scale(-1, 1);
			}

			&.-is-active {
				background: #116DC9;
				color: #FFF;

				&:before,
				&:after {
					background: url("../img/tab_item_bg_active.gif") left top no-repeat;
				}
			}
		}
	}

	&__box {
		padding-bottom: 10%;
	}

	&__list {
		margin-bottom: 60px;
		@include sp() {
			margin-bottom: 10%;
		}
	}

	&__item {
		padding: 30px 0;
		background-image : linear-gradient(to right, #116DC9 6px, transparent 6px);
		background-size: 16px 1px;
		background-repeat: repeat-x;
		background-position: left bottom;
		@include sp() {
			padding: 4%;
		}

		>dl {
			display: flex;
			align-items: center;
		}

		&__date {
			margin-right: 25px;
			padding-right: 30px;
			color: #1A1A1A;
			font-size: 14px;
			font-weight: 500;
			border-right: 1px solid #1A1A1A;
			@include sp() {
				font-size: 12px;
			}
		}

		&__text {
			display: flex;
			align-items: center;
			color: #1A1A1A;
			font-size: 16px;
			line-height: 1.3;
			@include sp() {
				display: block;
				font-size: 13px;
			}

			a {
				color: #116DC9;
				text-decoration: underline;
			}
		}

		&__category {
			@include border-radius(15px);
			display: flex;
			justify-content: center;
			align-items: center;
			width: 110px;
			height: 25px;
			margin-right: 25px;
			color: #116DC9;
			font-size: 15px;
			border: 1px solid #116DC9;
			@include sp() {
				width: 30%;
				height: auto;
				margin: 0 0 2%;
				padding: 1% 3%;
				font-size: 10px;
			}
		}
	}

	&__more {
		a {
			margin: auto;
		}
	}
}

.leader {
	margin-bottom: 150px;
	@include sp() {
		margin-bottom: 15%;
	}

	&__inner {
		position: relative;
		width: 1060px;
		margin: auto;
		padding-bottom: 230px;
		@include sp() {
			width: auto;
			padding-bottom: 0;
		}
	}

	&__title {
		position: relative;
		margin-bottom: 150px;
		color: #000;
		font-size: 60px;
		font-weight: 700;
		text-align: center;
		@include sp() {
			margin-bottom: 15%;
			font-size: 30px;
		}

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -50px;
			width: 120px;
			height: 1px;
			margin: auto;
			background: #000;
			@include sp() {
				bottom: -25px;
			}
		}
	}

	&__flex {
		@include sp() {
			display: flex;
			justify-content: center;
		}
	}

	&__lead {
		margin-bottom: 50px;
		@include sp() {
			width: 55%;
			margin-bottom: 10%;
		}

		&__inner {
			display: inline-block;
			padding: 4px 15px 9px;
			background: #116DC9;
			color: #FFF;
			font-size: 36px;
			font-weight: 500;
			@include sp() {
				margin-left: 4%;
				font-size: 14px;
			}

			&:not(:last-of-type) {
				margin-bottom: 18px;
				@include sp() {
					margin-bottom: 8px;
				}
			}
		}
	}

	&__text {
		position: relative;
		z-index: 10;
		font-size: 18px;
		line-height: (40/18);
		@include sp() {
			font-size: 14px;
			padding: 0 4%;
			line-height: (26/14);
		}

		&__notice {
			display: block;
			position: relative;
			margin-top: 10px;
			padding-left: 1.2em;
			font-size: 12px;
			line-height: (20/12);

			&:before {
				content: "※";
				position: absolute;
				left: 0;
			}
		}
	}

	&__pic {
		position: absolute;
		right: -180px;
		top: 180px;
		@include sp() {
			position: unset;
			width: 40%;
		}
	}

	&__pic2 {
		left: 0;
		right: unset;
		top: unset;
		bottom: 0;
		@include sp() {
			display: none;
		}
	}
}

.program {
	@include border-radius(150px 0 0 0);
	background: url("../img/program_bg.png") right top 160px no-repeat #116DC9;
	@include sp() {
		@include border-radius(0);
		background: #116DC9;
	}

	&__inner {
		padding: 140px 0 340px 160px;
		overflow: hidden;
		@include sp() {
			padding: 10% 0;
		}
	}

	&__title {
		margin-bottom: 40px;
		color: #FFF;
		font-size: 60px;
		font-weight: 700;
		@include sp() {
			margin-bottom: 10%;
			font-size: 30px;
			text-align: center;
		}
	}

	&__lead {
		width: 580px;
		margin-bottom: 40px;
		color: #FFF;
		font-size: 20px;
		line-height: (40/20);
		@include sp() {
			width: auto;
			margin: 0 4% 10%;
			font-size: 14px;
		}
	}

	&__more {
		margin-bottom: 60px;
		@include sp() {
			margin-bottom: 10%;
		}

		a {
			width: 300px;
			padding-right: 20px;
			background: #FFF;
			color: #116DC9;
			@include sp() {
				width: 80%;
				margin: auto;
			}

			&:before{
				background: #116DC9;
			}
			&:after {
				border-color: #FFF;
			}
		}
	}

	&__list {
		margin-left: 100px;
		@include sp() {
			margin-left: 0;
		}
	}

	&__item {
		@include border-radius(10px);
		width: 437px !important;
		background: #FFF;
		@include sp() {
			width: auto !important;
			margin: auto 20px;
		}

		&:not(:last-child) {
			margin-right: 40px;
			@include sp() {
				margin-right: 20px;
			}
		}

		&:first-child {
			@include box-shadow(5px 5px 15px #508fd4);
		}

		a {
			display: block;
			padding: 30px 30px 40px;
			color: initial;
			@include sp() {
				padding: 4%;
			}
		}

		&__thumb {
			margin-bottom: 30px;
			@include sp() {
				margin-bottom: 5%;
			}

			img {
				@include border-radius(10px);
			}
		}

		&__term {
			margin-bottom: 18px;
			font-size: 24px;
			font-weight: 700;
			@include sp() {
				margin-bottom: 3%;
				font-size: 18px;
			}

			em {
				color: #116DC9;
				font-weight: 700;
			}
		}

		&__description {
			margin-bottom: 18px;
			font-size: 16px;
			line-height: (34/16);
			@include sp() {
				margin-bottom: 3%;
				font-size: 14px;
				line-height: (22/14);
			}
		}

		&__more {
			text-align: right;

			&__inner {
				display: inline-block;
				padding-bottom: 3px;
				color: #116DC9;
				font-size: 16px;
				font-weight: 700;
				border-bottom: 1px solid #000;
				@include sp() {
					font-size: 14px;
				}
			}
		}
	}
}

.lecturer {
	@include border-radius(0 150px 0 0);
	margin-top: -180px;
	background: #FFF;
	@include sp() {
		@include border-radius(0);
		margin-top: 0;
		padding-bottom: 10%;
	}

	&__inner {
		padding: 190px 160px 160px 0;
		@include sp() {
			padding: 0;
		}
	}

	&__flex {
		display: flex;
		@include sp() {
			display: block;
		}
	}

	&__pic {
		position: relative;
		margin: 0 110px 0 -300px;
		@include sp() {
			margin: auto;
		}

		&:before {
			content: "";
			position: absolute;
			right: -120px;
			bottom: -135px;
			width: image-width("../img/lecturer_pic_bg.png");
			height: image-height("../img/lecturer_pic_bg.png");
			background: url("../img/lecturer_pic_bg.png") left top no-repeat;
			@include sp() {
				content: none;
			}
		}

		img {
			@include border-radius(0 30px 30px 0);
			@include sp() {
				@include border-radius(0);
			}
		}
	}

	&__right {
		padding-top: 70px;
		@include sp() {
			padding-top: 10%;
		}
	}

	&__title {
		margin-bottom: 60px;
		font-size: 50px;
		font-weight: 700;
		@include sp() {
			margin-bottom: 6%;
			font-size: 30px;
			text-align: center;
		}
	}

	&__lead {
		margin-bottom: 50px;
		@include sp() {
			margin-bottom: 6%;
			text-align: center;
		}

		&__inner {
			display: inline-block;
			padding: 4px 15px 9px;
			background: #116DC9;
			color: #FFF;
			font-size: 36px;
			font-weight: 500;
			@include sp() {
				font-size: 18px;
			}

			&:not(:last-of-type) {
				margin-bottom: 18px;
				@include sp() {
					margin-bottom: 8px;
				}
			}
		}
	}

	&__text {
		font-size: 16px;
		line-height: (36/16);
		@include sp() {
			font-size: 14px;
			line-height: (24/14);
			text-align: center;
		}
	}
}

.topics {
	background: #FFF;

	&__inner {
		@include border-radius(150px 0 0 0);
		padding: 100px 0 135px;
		background: url("../img/topics_bg.png") center top 295px no-repeat #E9F4FF;
		@include sp() {
			@include border-radius(0);
			padding: 10% 0;
			background: #E9F4FF;
		}
	}

	&__title {
		position: relative;
		margin-bottom: 160px;
		color: #000;
		font-size: 50px;
		font-weight: 700;
		text-align: center;
		@include sp() {
			margin-bottom: 10%;
			font-size: 30px;
		}

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -30px;
			width: 80px;
			height: 1px;
			margin: auto;
			background: #000;
			@include sp() {
				bottom: -20px;
			}
		}

		small {
			display: block;
			margin-top: 20px;
			font-size: 18px;
			@include sp() {
				margin-top: 2%;
				font-size: 14px;
			}
		}
	}

	&__list {
		width: 1210px;
		margin: 0 auto 40px;
		@include sp() {
			width: auto;
			margin-bottom: 15% !important;
		}

		.slick-list {
			padding: 10px;
			overflow: hidden;
			@include sp() {
				width: auto !important;
				padding: 3%;
			}
		}

		.slick-prev {
			left: -40px;
			bottom: 180px;
			@include sp() {
				left: 1%;
				bottom: unset;
			}
		}

		.slick-next {
			left: unset;
			right: -30px;
			bottom: 180px;
			@include sp() {
				right: 1%;
				bottom: unset;
			}
		}

		.slick-dots {
			@include sp() {
				bottom: -25px;
			}
		}
	}

	&__item {
		@include box-shadow(0 0 10px rgba(#000, .2));
		@include border-radius(10px 10px 0 0);
		overflow: hidden;
		@include sp() {
			width: 100% !important;
			margin: auto 0.8%;
		}

		&:not(:first-child) {
			margin-left: 30px;
			@include sp() {
				margin-left: 0.8%;
			}
		}

		a {
			display: block;
			color: initial;
		}

		dl {
			padding: 25px;
			@include sp() {
				padding: 4%;
			}
		}

		&__term {
			margin-bottom: 15px;
			font-size: 13px;
			font-weight: bold;
			@include sp() {
				margin-bottom: 2%;
				line-height: 2;
			}
		}

		&__category {
			display: inline-block;
			margin-right: 15px;
			padding: 3px 10px 5px;
			font-size: 14px;
			border: 1px solid #000;
			@include sp() {
				display: table-cell;
				margin-right: 0;
				font-size: 12px;
			}
		}

		&__description {
			font-size: 22px;
			font-weight: bold;
			line-height: (42/22);
			@include sp() {
				font-size: 16px;
				line-height: 1.3;
			}

			em {
				color: #116DC9;
				font-weight: bold;
			}
		}
	}

	&__more {
		a {
			margin: auto;
			padding-right: 20px;
		}
	}
}

.links {
	background: #FFF;

	&__inner {
		padding: 100px 0 135px;
		@include sp() {
			padding: 10% 0;
		}
	}

	&__title {
		position: relative;
		margin-bottom: 120px;
		color: #000;
		font-size: 50px;
		font-weight: 700;
		text-align: center;
		@include sp() {
			margin-bottom: 15%;
			font-size: 30px;
		}

		&:before {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			bottom: -30px;
			width: 80px;
			height: 1px;
			margin: auto;
			background: #000;
			@include sp() {
				bottom: -20px;
			}
		}

		small {
			display: block;
			margin-top: 20px;
			font-size: 18px;
			@include sp() {
				margin-top: 2%;
				font-size: 14px;
			}
		}
	}

	&__twocolumn {
		position: relative;
		left: 140px;
		column-count: 2;
		column-gap: 100px;
		width: 1110px;
		margin: auto;
		@include sp() {
			column-count: unset;
			left: 0;
			width: auto;
			margin: 0 4%;
		}
	}

	&__subtitle {
		margin-bottom: 25px;
		color: #116DC9;
		font-size: 24px;
		font-weight: bold;
		@include sp() {
			margin-bottom: 5%;
			font-size: 20px;
		}
	}

	&__list {
		padding-left: 20px;
		break-inside: avoid;
		@include sp() {
			margin-bottom: 8%;
		}

		&:nth-of-type(odd) {
			margin-bottom: 50px;
			@include sp() {
				margin-bottom: 8%;
			}
		}
	}

	&__item {
		list-style: disc;
		line-height: 2;

		a {
			color: initial;
			font-size: 16px;
			@include sp() {
				font-size: 13px;
			}
		}
	}
}