//変数インクルード
@import 'core';
@import 'compass';
/*----------------------------------------------------------------------
------------------------------------------------------------------------

File Name: top.scss

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
------------------------------------------------------------------------
目次

1.	共通使用変数定義
2.	ブラウザデフォルトスタイルリセット
3.	HTMLタグ
4.	container
5.	共通部分
6.	header
7.	content
8.	main
9.	sub
10.	footer
11.	ページ別個別設定

------------------------------------------------------------------------
----------------------------------------------------------------------*/
/*----------------------------------------------------------------------
1.	共通使用変数定義
----------------------------------------------------------------------*/


/*----------------------------------------------------------------------
2.	ブラウザデフォルトスタイルリセット
----------------------------------------------------------------------*/
@include reset;
//compass
@include reset-html5;
//オリジナル
@include resethtml5;


/*----------------------------------------------------------------------
3.	HTMLタグ
----------------------------------------------------------------------*/
@include layout-tags;


/*----------------------------------------------------------------------
4.	container
----------------------------------------------------------------------*/
@include layout-container;

#container {
	background: url("../img/container_bg.png") center top 330px no-repeat #F0F8FF;
}


/*----------------------------------------------------------------------
5.	共通部分
----------------------------------------------------------------------*/
@include common;


/*----------------------------------------------------------------------
6.	#header
----------------------------------------------------------------------*/
@include layout-header;


/*----------------------------------------------------------------------
7.	#content
----------------------------------------------------------------------*/
@include layout-content;


/*----------------------------------------------------------------------
8.	#main
----------------------------------------------------------------------*/
@include layout-main;


/*----------------------------------------------------------------------
9.	#sub
----------------------------------------------------------------------*/
@include layout-sub;


/*----------------------------------------------------------------------
10.	#footer
----------------------------------------------------------------------*/
@include layout-footer;


/*----------------------------------------------------------------------
11.	ページ別個別設定
----------------------------------------------------------------------*/

.main {
	&__visual {
		margin: 50px 0 150px;

		&__title {
			position: relative;
			z-index: 10;
			margin-bottom: 165px;
			text-align: center;
		}
	}
}

.news {
	@include border-radius(50px);
	@include box-shadow(0 0 10px rgba(#000, .3));
	position: relative;
	width: 1000px;
	margin: auto;
	padding: 145px 90px 60px;
	background: #FFF;

	&:before {
		content: "";
		position: absolute;
		z-index: 1;
		left: 0;
		right: 0;
		top: -230px;
		width: image-width("../img/news_bg.png");
		height: image-height("../img/news_bg.png");
		margin: auto;
		background: url("../img/news_bg.png") left top no-repeat;
	}

	&__title {
		color: #116DC9;
		font-size: 50px;
		font-weight: 700;

		small {
			display: block;
			margin-top: 25px;
			font-size: 18px;
			font-weight: 700;
		}
	}
}