@mixin layout-tags {
	html ,
	body {
		min-width: 1460px;
		height: 100%;
	}

	html {
		font-size: 100%;
	}

	body {
		-webkit-text-size-adjust: 100%;
		color: color(1);

		* {
			@include box-sizing(border-box);
		}

	}

	a {
		& ,
		&:before ,
		&:after {
			@include transition(all $mouseover linear);
		}

		> * {
			@include transition(all $mouseover linear);
		}

		&:hover {
			@include opacity(.7);

			> * {
				text-decoration: none;
			}
		}
	}
}

@mixin layout-container {
	#container {
		position: relative;
		min-height: 100%;
		@include sp() {
			//overflow-x: hidden;
		}

		* html & {
			height: 100%;
		}

		body > & {
			height: auto;
		}
	}
}

@mixin common {
	//placeholderでやる必要性を検討
	//%pie {
	//	@include pie-element(relative);
	//}

	.fll {
		float: left;
	}

	.flr {
		float: right;
	}

	.sp_none {
		@include pc() {
			display: block;
		}
		@include sp() {
			display: none;
		}
	}

	.pc_none {
		@include pc() {
			display: none;
		}
		@include sp() {
			display: block;
		}
	}

	.link-btn {
		a {
			@include border-radius(40px);
			@include box-shadow(2px 2px 5px rgba(#000, .3));
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 270px;
			height: 65px;
			padding-right: 10px;
			background: #116DC9;
			color: #FFF;
			font-size: 18px;
			font-weight: 700;

			&:before,
			&:after {
				content: "";
				position: absolute;
			}

			&:before {
				@include border-radius(50%);
				right: 20px;
				top: 0;
				bottom: 0;
				width: 39px;
				height: 39px;
				margin: auto;
				background: #FFF;
			}

			&:after {
				@include rotate(45deg);
				right: 36px;
				top: 0;
				bottom: 0;
				width: 9px;
				height: 9px;
				margin: auto;
				border: 0;
				border-top: solid 3px #1658B7;
				border-right: solid 3px #1658B7;
			}
		}
	}

	.right-nav {
		display: none;
		position: fixed;
		bottom: 10px;
		right: 10px;
		z-index: 1000;

		a {
			@include transition(opacity $mouseover linear);
			display: block;

			&:hover {
				@include opacity(.7);
			}
		}

		img {
			@include sp() {
				width: 45px;
				height: 45px;
			}
		}
	}

	#drawernav{
		@include pc() {
			display: none;
		}
	}

}

@mixin layout-header {
	.header {
		@include border-radius(0 0 50px 50px);
		@include box-shadow(0 0 10px rgba(#000, .3));
		width: 1400px;
		margin: auto;
		background: #FFF;
		overflow: hidden;

		&__upper {
			display: flex;
			justify-content: space-between;
			padding: 20px 70px;
			border-bottom: 1px solid #B3B3B3;
		}

		&__logo {
			display: flex;
			align-items: center;

			a {
				display: block;
				margin-right: 20px;
			}

			small {
				display: block;
				font-size: 16px;
				line-height: (25/16);
			}
		}

		&__nav {
			&__list {
				display: flex;
				justify-content: center;
			}

			&__item {
				margin: 0 30px;

				a {
					display: block;
				}

				&__inner {
					display: block;
					position: relative;
					padding: 22px;
					color: initial;
					font-size: 16px;
					font-weight: 500;

					&.-is-active {
						&:before {
							content: "";
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
							width: 100%;
							height: 2px;
							margin: auto;
							background: #116DC9;
						}
					}
				}
			}
		}
	}
}

@mixin layout-content {
	#content {
	}
}

@mixin layout-main {

	.topicpath {
	}

	.topicpath-item {
	}

	.main {
	}

}

@mixin layout-sub {
	.side {
	}
}

@mixin layout-footer {
	.footer {
	}
}
