@mixin layout-tags {
	html ,
	body {
		min-width: 1460px;
		height: 100%;
	}

	html {
		font-size: 100%;
	}

	body {
		-webkit-text-size-adjust: 100%;
		color: color(1);

		* {
			@include box-sizing(border-box);
		}

	}

	a {
		& ,
		&:before ,
		&:after {
			@include transition(all $mouseover linear);
		}

		> * {
			@include transition(all $mouseover linear);
		}

		&:hover {
			@include opacity(.7);

			> * {
				text-decoration: none;
			}
		}
	}
}

@mixin layout-container {
	#container {
		position: relative;
		min-height: 100%;
		@include sp() {
			//overflow-x: hidden;
		}

		* html & {
			height: 100%;
		}

		body > & {
			height: auto;
		}
	}
}

@mixin common {
	//placeholderでやる必要性を検討
	//%pie {
	//	@include pie-element(relative);
	//}

	.fll {
		float: left;
	}

	.flr {
		float: right;
	}

	.sp_none {
		@include pc() {
			display: block;
		}
		@include sp() {
			display: none;
		}
	}

	.pc_none {
		@include pc() {
			display: none;
		}
		@include sp() {
			display: block;
		}
	}

	.link-btn {
		a {
			@include border-radius(40px);
			@include box-shadow(2px 2px 5px rgba(#000, .3));
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			width: 270px;
			height: 65px;
			padding-right: 10px;
			background: #116DC9;
			color: #FFF;
			font-size: 18px;
			font-weight: 700;

			&:before,
			&:after {
				content: "";
				position: absolute;
			}

			&:before {
				@include border-radius(50%);
				right: 20px;
				top: 0;
				bottom: 0;
				width: 39px;
				height: 39px;
				margin: auto;
				background: #FFF;
			}

			&:after {
				@include rotate(45deg);
				right: 36px;
				top: 0;
				bottom: 0;
				width: 9px;
				height: 9px;
				margin: auto;
				border: 0;
				border-top: solid 3px #1658B7;
				border-right: solid 3px #1658B7;
			}
		}
	}

	.right-sns {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		position: absolute;
		z-index: 10;
		right: 30px;
		top: 520px;
		width: 30px;
	}

	.right-facebook {
		a {
			display: block;
		}

		svg {
			width: 30px;
			fill: #3773e6;
		}
	}

	.right-scrolldown {
		-ms-writing-mode: tb-rl;
		writing-mode: vertical-rl;

		span {
			position: relative;
			top: 15px;
			color: #116DC9;
			font-size: 12px;
			font-weight: bold;

			&:after {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
				width: 2px;
				height: 60px;
				margin: auto;
				background: #116DC9;
				animation: pathmove 1.6s ease-in-out infinite;
				opacity: 0;
			}
		}
	}

	/*高さ・位置・透過が変化して線が上から下に動く*/
	@keyframes pathmove {
		0% {
			height: 40px;
			bottom: -50px;
			opacity: 0;
		}
		30% {
			height: 40px;
			opacity: 1;
		}
		100% {
			height: 10px;
			bottom: -90px;
			opacity: 0;
		}
	}

	.right-nav {
		@include box-shadow(0 0 10px rgba(#000, .3));
		display: none;
		position: fixed;
		bottom: 0;
		right: 0;
		z-index: 1000;

		a {
			@include transition(opacity $mouseover linear);
			display: block;
			width: 80px;
			height: 80px;
			background: #FFF;

			&:after {
				@include rotate(-45deg);
				content: "";
				position: absolute;
				left: 2px;
				right: 0;
				top: 10px;
				bottom: 0;
				width: 20px;
				height: 20px;
				margin: auto;
				border: 0;
				border-top: solid 4px #1658B7;
				border-right: solid 4px #1658B7;
			}

			&:hover {
				@include opacity(.7);
			}
		}

		img {
			@include sp() {
				width: 45px;
				height: 45px;
			}
		}
	}

	.logo {
		display: flex;
		align-items: center;

		a {
			display: block;
			margin-right: 20px;
		}

		small {
			display: block;
			font-size: 16px;
			line-height: (25/16);
		}
	}

	#drawernav{
		@include pc() {
			display: none;
		}
	}

}

@mixin layout-header {
	.header {
		@include border-radius(0 0 50px 50px);
		@include box-shadow(0 0 10px rgba(#000, .3));
		width: 1400px;
		margin: auto;
		background: #FFF;
		overflow: hidden;

		&__upper {
			display: flex;
			justify-content: space-between;
			padding: 20px 70px;
			border-bottom: 1px solid #B3B3B3;
		}

		&__nav {
			&__list {
				display: flex;
				justify-content: center;
			}

			&__item {
				margin: 0 30px;

				a {
					display: block;
				}

				&__inner {
					display: block;
					position: relative;
					padding: 22px;
					color: initial;
					font-size: 16px;
					font-weight: 500;

					&.-is-active {
						&:before {
							content: "";
							position: absolute;
							left: 0;
							right: 0;
							top: 0;
							width: 100%;
							height: 2px;
							margin: auto;
							background: #116DC9;
						}
					}
				}
			}
		}
	}

	.lower {
		.header {
			margin-bottom: 75px;
		}
	}
}

@mixin layout-content {
	.topicpath {
		display: flex;
		width: 1180px;
		margin: 0 auto 50px;

		&__item {
			position: relative;
			font-size: 16px;

			&:not(:last-child) {
				margin-right: 50px;

				&:after {
					content: "＞";
					position: absolute;
					right: -35px;
					top: 0;
					bottom: 0;
					margin: auto;
				}
			}

			a {
				color: initial;
			}
		}
	}
}

@mixin layout-main {
}

@mixin layout-footer {
	.footer {
		background: #FFF;

		&__inner {
			@include border-radius(0 150px 0 0);
			background: #116DC9;
		}

		&__wrapper {
			width: 1000px;
			margin: auto;
			padding: 80px 0 65px;
		}

		&__logo {
			margin-bottom: 60px;
			padding-bottom: 25px;
			border-bottom: 1px solid #FFF;

			small {
				color: #FFF;
			}
		}

		&__flex {
			display: flex;
			justify-content: space-between;
		}

		&__nav {
			&__list {
				display: flex;
				flex-wrap: wrap;
				width: 700px;
				margin-top: -40px;
			}

			&__item {
				min-width: 220px;
				margin-top: 40px;

				a {
					position: relative;
					color: #FFF;
					font-size: 16px;
					text-decoration: underline;

					&:before {
						content: "";
						position: absolute;
						right: -30px;
						top: 0;
						bottom: 0;
						width: 0;
						height: 0;
						margin: auto;
						border-style: solid;
						border-width: 5px 0 5px 12.5px;
						border-color: transparent transparent transparent #FFF;
					}
				}
			}
		}

		&__contact {
			a {
				background: #FFF;
				color: #116DC9;

				&:before{
					background: #116DC9;
				}
				&:after {
					border-color: #FFF;
				}
			}
		}

		&__copy {
			padding: 20px 0;
			background: #064591;
			color: #FFF;
			font-size: 14px;
			text-align: center;
		}
	}
}
